.navbar {
    height: 70px;
    position: fixed;
    width: 100%;
}
.navbar-brand {
    display: flex ;
    align-items: center;
}

.navbar-brand img {
    height: 35px;
}

.nav-link {
    padding: 0px;
    height: 100%;
    line-height: 30px;
}


.right-link img{
    height: 30px;
}

.form-inline {
    width: 40%;
}

.navbar-nav {
    width: 60%;
    justify-content: flex-end;
}