.dashboard-title {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #4f4f4f;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.paging-right {
    width: 50%;
}

.paging-wrapper {
    display: flex;
    justify-content: flex-end;
}

#db-left-section {
    margin-bottom: 50px;
}

#db-right-section {
    margin-bottom: 50px;
}

#db-question-list-wrapper{
    margin-bottom: 40px;
}