#dashboard-page {
    padding: 0 15% 0;
}

.dashboard-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 50px;
    color: #4f4f4f;
    padding-top: 35px;
}

.paging-right {
    width: 50%;
}

.paging-wrapper {
    display: flex;
    justify-content: flex-end;
}