#update-info {
    display: flex;
}

@media(max-width: 1010px){
    #update-info {
        flex-direction: column;
    }
    .ui-left-section {
        width: 100%;
        margin-bottom: 30px;
    }
    
    .ui-right-section {
        width: 100%;
    
    }
}


input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid wheat;
    border-radius: 5px;
    margin: 0 auto;
    width: 170px;
    display: block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #F8B906;
    margin-top: 10px;
}

.upload-media-section {
    height: max-content;
    padding-bottom: 100px;
}