.header {
    margin-bottom: 10px;
}

.meta p {
    color: #4f4f4f;
    margin-bottom: 4px !important;
}

.description {
    font-weight: 500;
}

.btn-partner {
    color: white !important;
    font-weight: bold;
    margin-right: 6px;
    font-size: 12px;
    margin-bottom: 5px;
}

.partner-item {
    display: flex;
}

.user-block {
    margin: 0 !important;
    margin-right: 20px !important;
    margin-top: 0 !important;
}

.ui.card{
    margin-top: 0 !important;
    height: max-content !important;

}

.partner-image {
    height: 150px;
}

.content {
    flex-grow: unset !important;
}

.image img{
    height: 100% !important;
    object-fit: cover;
}
