.header {
    margin-bottom: 10px;
}

.meta p {
    color: #4f4f4f;
    margin-bottom: 4px !important;
}

.description {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.btn-partner {
    color: white !important;
    font-weight: bold;
    margin-right: 6px;
    font-size: 12px;
    margin-bottom: 5px;
}

.content {
    font-family: 'Open Sans', sans-serif;
}

.content .header {
    font-family: 'Open Sans', sans-serif !important;
}

.partner-item {
    display: flex;
}

.user-block {
    margin: 0 !important;
    margin-top: 0 !important;
}

.ui.card{
    margin-top: 0 !important;
    height: max-content !important;
    width: unset !important;

}

.partner-image {
    height: 150px;
}

.content {
    flex-grow: unset !important;
}

.image img{
    height: 100% !important;
    object-fit: cover;
}

.pf-popup-content{
    background-color: #2C3A47;
    width: 100%;
}

.pf-popup-content-title {
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}