.header {
    margin-bottom: 10px;
}

.meta p {
    color: #4f4f4f;
    margin-bottom: 4px !important;
}

.description {
    font-weight: 500;
}

.btn-partner {
    color: white !important;
    font-weight: bold;
    margin-right: 6px;
}