.navbar {
    position: fixed;
    width: 100%;
    padding-left: 40px;
    z-index: 1000;
}

.navbar-brand {
    display: flex ;
    align-items: center;
}

.navbar-brand img {
    height: 35px;
}

.nav-link {
    padding: 0px;
    height: 100%;
    line-height: 30px;
}


.right-link img{
    height: 30px;
} 

.form-inline {
    width: 40%;
}

.navbar-nav {
    width: 100%;
    justify-content: flex-end;
}

.func-link {
    color: #fff !important;
    border-radius: 5px;
}

.func-link:hover {
    background-color: #00cec9;
}

#page-name {
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
}

.btn-search {
    font-weight: bold;
}

.nav-link {
    font-weight: 600;
    font-size: 15px;
}

.nav-icon {
    display: block !important;
    font-size: 20px !important;
    margin: 0 auto !important;
}

.dropdown-toggle::after {
    margin-left: 0.5em;
}

#navigation-bar{
    transition: all ease-in-out 0.3s;
    padding-left: 15%;
    padding-right: 15%;
    height: 75px;
    background-color: #1D4661 !important;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.38);
}