#feedback-list {
    background-color: white;
    padding: 20px 20px 10px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.38);
    border-radius: 5px;
}

.post-search-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-left: 20px;
}

.post-search-wrapper .search{
    width: fit-content;
}