
#section1{
    height: 100vh;
    background-image: linear-gradient(
        rgba(10, 0, 0, 0.9),
        rgba(8, 7, 7, 0.6)
      ),url("/images/HomePage/background_home1.jpg");
    background-size: cover; 
    background-attachment: fixed;
}

#center-intro{
    margin-left: 7%;
    margin-right: 5%;
    max-width: 700px;
    margin: 20vh auto 0px;
    text-align: center;
}

#sologan {
    color: white;
    font-size: 70px;
    text-transform: uppercase;
    line-height: 79px;
    text-align: center;
    margin-bottom: 45px;
    font-family: 'Spectral', serif;
    padding: 0 15px;
    font-weight: 700;
}

#sub-sologan {
    color: white;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 35px;
    font-family: 'Open Sans', sans-serif;
}

.down-button{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

#basic-button:hover{
    background: white;
}

#section2{
    height: 100vh;
    position: relative;
}

.section-content{
    margin: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90%;
    padding: 0 15px 8% 15px;
}

.section-title{
    padding: 0 15px;
    height: 10%;
    font-size: 56px;
    line-height: 68px;
    text-align: center;
    padding-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.section-title span{
    color: #FFB906;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.section-block {
    padding: 10px 3% 0 3%;
}

.section-block img{
    width: 40%;
    margin-bottom: 20px;
}

.section-block h2{
    color: #4f4f4f;
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
}

.section-block p{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    text-align: center;
    color: #4F4F4F;
    font-size: 16px;
    line-height: 28px;
}
#end-line{
    display: none !important;
}

#section3{
}

.guide-content{
    height: 90%;
    padding: 15vh 20% 10px 20%;
}

.guide-block{
    display: flex;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.guide-block img{
    width: 20%;
    margin-right: 20px;
    height: 100%;
}

.guide-block h2{
    font-size: 22px;
    max-width: 40vh;
    color: #F15D03;
    font-family: 'Open Sans', sans-serif;
}

.guide-block p{
    max-width: 40vh;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    font-size: 16px;
    color: #4F4F4F;
}

.guide-block h2 span{
    font-size: 76px;
    line-height: 70px;
    font-weight: bold;
    color: #F15D03;
}

.block-right{
    display: flex;
    justify-content: flex-end;
}

.block-right img{
    margin-right: 0px;
    margin-left: 20px;
}

.block-right p {
    text-align: right;
}

.block-right h2 {
    text-align: right;
}

#section4{
    margin-top: 15vh;
    background: #ffeaa7;
    padding-top: 10vh;
    padding-bottom: 10vh;
    color: #4F4F4F;
    position: relative;
}

#flex-container{
    display: flex;
    justify-content: space-around;
}

#first-part{
    padding-left: 3%;
    text-align: center;
}

#first-part h2{
    margin-bottom: 30px;
    font-weight: bold;
}

#first-part p {
    max-width: 400px;
    font-weight: 500;
}

#center-part h2{
    margin-bottom: 30px;
    font-weight: bold;
}

#center-part a{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #4F4F4F;
    max-width: max-content;
}

#contact-item img{
    height: 25px;
    margin-right: 20px;
}

#third-part{
    display: flex;
    align-items: center;
}

#contact-item p{
    margin-bottom: 10px;
}

/* responsive for font-size for whole page  */
@media(max-width: 1366px) and (min-width: 960px)
{
    #sologan{
        font-size: 64px;
        line-height: 68px;
    }
    #sub-sologan{
        font-size: 20px;
        line-height: 28px;
    }
    #sub-sologan span {
        font-size: 22px !important;
    }
    #basic-button{
        height: 50px !important;
        min-width: 160px !important;
        border-radius: 8px !important;
        font-size: 18px !important;
    }
    .down-button p {
        font-size: 16px !important;
    }
    .section-title{
        font-size: 48px;
        line-height: 60px;
    }
    .section-block img{
        width: 65%;
    }
    .section-block h2{
        font-size: 22px;
    }
    .section-block p{
        font-size: 14px;
        line-height: 24px;
    }
    .guide-content{
        padding: 15vh 10% 10px 10%;
    }
    .guide-block h2{
        font-size: 20px;
    }
    .guide-block h2 span{
        font-size: 64px;
        line-height: 62p
    }
}

@media(max-width: 959px) and (min-width: 481px)
{
    #sologan{
        font-size: 54px;
        line-height: 60px;
    }
    #sub-sologan{
        font-size: 20px;
        line-height: 28px;
    }
    #sub-sologan span {
        font-size: 22px !important;
    }
    #basic-button{
        height: 50px !important;
        min-width: 160px !important;
        border-radius: 8px !important;
        font-size: 18px !important;
    }
    .down-button p {
        font-size: 16px !important;
    }
    .section-title{
        font-size: 38px;
        line-height: 52px;
    }
    .section-block img{
        width: 65%;
    }
    .section-block h2{
        font-size: 22px;
    }
    .section-block p{
        font-size: 14px;
        line-height: 24px;
    }
    .guide-content{
        padding: 15vh 10% 10px 10%;
    }
    .guide-block h2{
        font-size: 20px;
    }
    .guide-block h2 span{
        font-size: 64px;
        line-height: 62p
    }
    .down-button{
        display: none;
    }

    #section2{
        height: auto;
    }
    .section-content{
        margin-top: 100px;
    }
    .guide-block img{
        width: 30%;
    }
    .guide-content{
        padding: 10vh 5% 10px 5%;
    }
    #first-part{
        width: 30%;
    }
    #back-to-top{
        left: 90vw !important;
    }
}

/* Responsive for section 2 */
@media(max-width: 767px) {
    .section-content{
        padding: 0 15% 8% 15%;
    }
    .section-block{
        margin-bottom: 30px;
    }
    .section-block img{
        width: 40%;
    }
}

/*Responsive for footer*/
@media(max-width: 620px) {
    #flex-container{
        flex-direction: column;
        align-items: center;
    }
    #first-part{
        width: 70% !important;
        padding-left: 0;
        padding-right: 10px;
        text-align: left;
        margin-bottom: 30px;
    }
    #first-part h2{
        margin-bottom: 20px;
        font-size: 22px;
    }
    #center-part{
        width: 70%;
        margin-bottom: 40px;
    }
    #center-part h2{
        margin-bottom: 20px;
        font-size: 22px;
    }
    #footer-end-text{
        font-size: 12px;
    }
    #back-to-top{
        left: 80vw !important;
    }
}

@media(max-width: 480px){
    #sologan{
        font-size: 40px;
        line-height: 52px;
    }
    #sub-sologan{
        font-size: 19px;
        line-height: 28px;
    }
    .down-button{
        display: none;
    }
    .section-title{
        font-size: 36px;
        line-height: 42px;
        font-weight: bold;
    }
    #section2{
        height: auto;
    }
    .section-content{
        margin-top: 40px;
        padding: 0 5% 8% 5%;
    }
    .guide-content{
        padding: 8vh 5% 10px 5% ;
    }
    .guide-block{
        flex-direction: column;
        margin-bottom: 60px;
    }
    .block-right{
        flex-direction: column-reverse;
    }
    .block-right h2{
        text-align: left;
    }
    .block-right p{
        text-align: left;
    }
    .guide-block img{
        width: 45%;
        margin-right: 0;
        margin: 0 auto;
    }
    .section-block h2{
        font-size: 22px;
    }
    .section-block p{
        margin-top: 15px;
    }
    .guide-block h2{
        font-size: 20px;
    }
    .guide-block h2 span{
        font-size: 56px;
        line-height: 50px;
    }
    #end-line{
        display: block !important;
        width: 90%;
        height: 2px;
        background: wheat;
        margin: 0 auto;
    }
}
